body {
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Ensure modal is above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  top: 1.5rem;
  padding-left: 15%;
  padding-right: 15%;
  border-radius: 5px;
  width: 100%; /* Adjust width as needed */

  z-index: 1000; /* Ensure modal is above backdrop */
  position: relative;
}

.modal-content {
  padding-bottom: 50%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

