@page "/"
@rendermode InteractiveServer

<button class="btn btn-primary" @onclick="ChangeModalVisibletity">Open Modal</button>

<Modal IsVisible="IsModalVisible" @ref="modalRef" >
    <div>
    <h1 class="text-xl"> Noah is Klein</h1>
    </div>
</Modal>

<h1 class="text-sm"> Noah is Klein 123 </h1>

@code {

  Modal? modalRef;

    bool IsModalVisible = false;

    void ChangeModalVisibletity() =>IsModalVisible = !IsModalVisible;

}


